@model List<Qnsbank>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="color:red">@TempData["Msg"]</span>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th scope="col" width="75%">Message of the day</th>

    </tr>
    <tr scope="row">
        <td width="75%">Welcome to OnlyPython</td>

    </tr>
</table>

<h2>All Questions</h2>
<span style="color:red">@TempData["Msg"]</span>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th scope="col" width="20%">Question ID</th>
        <th scope="col" width="20%">Question</th>
        <th scope="col" width="20%">QuestionType</th>
        <th scope="col" wifth="20%">Topic</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Question
            </td>
            <td>
                @item.QuestionType
            </td>
            <td>
                @item.Topic
            </td>
        </tr>
    }
</table>



